.panel1 {
  background-image: url("./blake-connally-373084-unsplash.jpg");
}
.panel2 {
  background-image: url("./bailey-zindel-396398-unsplash.jpg");
}
.panel3 {
  background-image: url("./nathan-dumlao-293480-unsplash.jpg");
}
.panel4 {
  background-image: url("./georg-wolf-99332-unsplash.jpg");
}
.panel5 {
  background-image: url("./alfonso-castro-130691-unsplash.jpg");
}
